<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet",href="style/bootstrap.min.css")
body
	form.form-inline
		input.form-control(type='text',name="key", placeholder='Search')
		button.btn.btn-default(type='submit') 查找
	table.table.table-border.table-hover
		thead
			tr
				td 用户名
				td 密码
				td 性别
				td 年龄
		-for(var i in data)
			tr
				td=data[i].username
				td=data[i].password
				td=data[i].sex
				td=data[i].age
	