<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title #{title}
	link(type="text/css",href="css/cssAndJs.css",rel="stylesheet")
body
	h1 这是我的网站
	img(src="images/pic.jpg")
	script(src="script/cssAndJs.js")