<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	h3 欢迎 #{user.username}
	ul
		li 普通权限
		li 普通权限
		li 普通权限
		- if(user.permission == 2)
			li 权限2可见
		- if(user.permission == 1)
			li 权限1可见
		- if(user.permission == 0)
			li 权限0可见	